<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Scarlet App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form (ngSubmit)="login()" [formGroup]="credentials"> -->
  <div class="input-group">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email" id="emailRegister"></ion-input>
    </ion-item>
    <!-- <div  class="errors">
        <span >Email is required</span>
        <span >Email is invalid</span>
      </div> -->
    <ion-item>
      <ion-input type="text" placeholder="Nombre" formControlName="name" id="nameRegister"></ion-input>
    </ion-item>
    <!-- <div class="errors">
          <span >Password is required</span>
          <span >Password needs to be 6 characters</span>
        </div> -->
    <ion-item>
      <ion-input type="text" placeholder="Apellido" formControlName="lastname" id="lastnameRegister"></ion-input>
    </ion-item>
    <!-- <div class="errors">
            <span >Password is required</span>
            <span >Password needs to be 6 characters</span>
          </div> -->
    <ion-item>
      <ion-input type="password" placeholder="Contraseña" formControlName="password" id="passwordRegister"></ion-input>
    </ion-item>
    <!-- <div class="errors">
              <span >Password is required</span>
              <span >Password needs to be 6 characters</span>
            </div> -->
  </div>

  <ion-button type="submit" expand="block" (click)="Register()">Registrarse</ion-button>
  <ion-button type="button" expand="block" color="white" fill="clear" (click)="RedirectLogin()">Ya tenés cuenta? Logueate!
  </ion-button>

  <!-- </form> -->
</ion-content>